body {
    /* Uses webfonts. */
    font-family: 'Lato', sans-serif;
    background: lightslategray;
}

h1, #intro, #query-box, #result {
    background: whitesmoke;
    border-radius: 5px;
    padding: 5px 10px;
}

#query-box, #result {
    margin-top: 0.5em;
}

#query-box {
    padding-bottom: 1em;
}